<h1>Dashboard</h1>
<h1 class="my-1">Welcome {{name}}</h1>
<h3>Here are your stories</h3>
{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
        <tr>
          <td><a href="/stories/{{_id}}">{{title}}</a></td>
          <td>{{createdAt}}</td>
          <td><span class="dash-status">{status{}}</span></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
<p>You have not added any stories yet</p>
{{/if}}