<h1>Stories</h1>
<div class="row">  
  {{#each stories}}
    <div class="col s12 4m">
      <div class="card">
        <div class="card-image">
        </div>
        <div class="card-heading">
          <h5>{{title}}</h5>
        </div>
        <div class="story-card-content">
          <p>{{stripTags (truncate body 100)}}</p>
          <br>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>

        <div class="card-action">
          <a href="/stories/{{_id}}" class="btn grey">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
  <p>No stories to Show</p>
  {{/each}}
</div>